<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{/icon/logo.png}" type="jpg/png" rel="icon" />
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="container_cart">

                <form method="get" th:action="@{/index}">
                    <input class="cart" type="submit" value="К товарам">
                </form>

                <form method="get" th:action="@{/orders}">
                    <input class="cart" type="submit" value="Мои покупки ">
                </form>

                <form method="post" th:action="@{/logout}">
                    <input class="cart" type="submit" value="Выйти из личного кабинета">
                </form>
            </div>
        </nav>
    </header>
    <div class="cart_page">
        <h3>Корзина товаров</h3>
        <div class="cart_section">
            <div th:each="product : ${cart_product}" id="cartItems" class="cartItems">
                <a th:href="@{/user/info/{id}(id=${product.getId()})}">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
                </a>
                <p th:text="' ' + ${product.getTitle()}"></p>
                <p th:text="'  Цена: ' + ${product.getPrice()} + ' &#8381;'" id="price"></p>

                <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
            </div>
        </div>

        <h3 th:text="'Итоговая цена ' + ${price}" ></h3>
        <a href="/order/create">Оформить заказ</a>
    </div>


</body>
</html>